.quantify-container {
    width: 80%;
    margin: 20px auto;
}
.quantify-container table {
    width: 100%;
    text-align: center;
}
.fund-list-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
}

.vs-history {
    margin-top: 30px;
}

.vs-history p {
    margin-bottom: 10px;
}