.content {
  margin: 20px;
}
.negative-income {
  color: green;
}
.positive-income {
  color: red;
}
.income-rate {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.fund-name {
  padding-left: 20px;
}
.list-header {
  margin: 20px 0 0 0;
  font-weight: 600;
}
.have-tag {
  display: inline-block;
  width: 30px;
  color: red;
}
.operation-container {
  margin-top: 10px;
}
.operation-container button {
  margin-right: 10px;
  cursor: pointer;
}